p {
    color:rgb(239, 255, 0)
    font-family: 'Comic Relief', Courier, monospace
}
h1 {
    color:rgb(0, 255, 0);
    font-family: 'Comic Relief', Courier, monospace
}
body {
     margin: 0;
    background-image: url("ooze.gif");
    text-align: center;
}
#leafCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none; / prevents blocking clicks */
}
nav,
main {
    position: relative;
    z-index: 1;
}
